In [12]:
import pandas as pd
File_Path = 'C:\\Users\\sharf\\OneDrive - Srinivasa Ramanujan Institute Of Technology\\Desktop\\Project\\healthcare_dataset.csv'
df = pd.read_csv(File_Path)
print(df)

                      Name  Age  Gender Blood Type Medical Condition  \
0          Tiffany Ramirez   81  Female         O-          Diabetes
1              Ruben Burns   35    Male         O+            Asthma
2                Chad Byrd   61    Male         B-           Obesity
3        Antonio Frederick   49    Male         B-            Asthma
4      Mrs. Brandy Flowers   51    Male         O-         Arthritis
...                    ...  ...     ...        ...               ...
9995            James Hood   83    Male         A+           Obesity
9996       Stephanie Evans   47  Female        AB+         Arthritis
9997  Christopher Martinez   54    Male         B-         Arthritis
9998           Amanda Duke   84    Male         A+         Arthritis
9999             Eric King   20    Male         B-         Arthritis

     Date of Admission             Doctor                   Hospital  \
0           2022-11-17     Patrick Parker           Wallace-Hamilton
1           2023-06-01      Diane Jackson  Burke, Griffin and Cooper
2           2019-01-09         Paul Baker                 Walton LLC
3           2020-05-02     Brian Chandler                 Garcia Ltd
4           2021-07-09     Dustin Griffin    Jones, Brown and Murray
...                ...                ...                        ...
9995        2022-07-29       Samuel Moody   Wood, Martin and Simmons
9996        2022-01-06  Christopher Yates               Nash-Krueger
9997        2022-07-01   Robert Nicholson            Larson and Sons
9998        2020-02-06        Jamie Lewis               Wilson-Lyons
9999        2023-03-22        Tasha Avila  Torres, Young and Stewart

     Insurance Provider  Billing Amount  Room Number Admission Type  \
0              Medicare    37490.983364          146       Elective
1      UnitedHealthcare    47304.064845          404      Emergency
2              Medicare    36874.896997          292      Emergency
3              Medicare    23303.322092          480         Urgent
4      UnitedHealthcare    18086.344184          477         Urgent
...                 ...             ...          ...            ...
9995   UnitedHealthcare    39606.840083          110       Elective
9996         Blue Cross     5995.717488          244      Emergency
9997         Blue Cross    49559.202905          312       Elective
9998   UnitedHealthcare    25236.344761          420         Urgent
9999              Aetna    37223.965865          290      Emergency

     Discharge Date   Medication  Test Results
0        2022-12-01      Aspirin  Inconclusive
1        2023-06-15      Lipitor        Normal
2        2019-02-08      Lipitor        Normal
3        2020-05-03   Penicillin      Abnormal
4        2021-08-02  Paracetamol        Normal
...             ...          ...           ...
9995     2022-08-02    Ibuprofen      Abnormal
9996     2022-01-29    Ibuprofen        Normal
9997     2022-07-15    Ibuprofen        Normal
9998     2020-02-26   Penicillin        Normal
9999     2023-04-15   Penicillin      Abnormal

[10000 rows x 15 columns]

In [13]:
# list of first five rows
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Medicare,37490.983364,146,Elective,2022-12-01,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304.064845,404,Emergency,2023-06-15,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Medicare,36874.896997,292,Emergency,2019-02-08,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Medicare,23303.322092,480,Urgent,2020-05-03,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086.344184,477,Urgent,2021-08-02,Paracetamol,Normal

In [14]:
# list of last five rows
df.tail()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
9995,James Hood,83,Male,A+,Obesity,2022-07-29,Samuel Moody,"Wood, Martin and Simmons",UnitedHealthcare,39606.840083,110,Elective,2022-08-02,Ibuprofen,Abnormal
9996,Stephanie Evans,47,Female,AB+,Arthritis,2022-01-06,Christopher Yates,Nash-Krueger,Blue Cross,5995.717488,244,Emergency,2022-01-29,Ibuprofen,Normal
9997,Christopher Martinez,54,Male,B-,Arthritis,2022-07-01,Robert Nicholson,Larson and Sons,Blue Cross,49559.202905,312,Elective,2022-07-15,Ibuprofen,Normal
9998,Amanda Duke,84,Male,A+,Arthritis,2020-02-06,Jamie Lewis,Wilson-Lyons,UnitedHealthcare,25236.344761,420,Urgent,2020-02-26,Penicillin,Normal
9999,Eric King,20,Male,B-,Arthritis,2023-03-22,Tasha Avila,"Torres, Young and Stewart",Aetna,37223.965865,290,Emergency,2023-04-15,Penicillin,Abnormal

In [15]:
# To know the total number of rows and columns in the data set
df.shape

(10000, 15)

In [16]:
df.dropna(inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                10000 non-null  object
 1   Age                 10000 non-null  int64
 2   Gender              10000 non-null  object
 3   Blood Type          10000 non-null  object
 4   Medical Condition   10000 non-null  object
 5   Date of Admission   10000 non-null  object
 6   Doctor              10000 non-null  object
 7   Hospital            10000 non-null  object
 8   Insurance Provider  10000 non-null  object
 9   Billing Amount      10000 non-null  float64
 10  Room Number         10000 non-null  int64
 11  Admission Type      10000 non-null  object
 12  Discharge Date      10000 non-null  object
 13  Medication          10000 non-null  object
 14  Test Results        10000 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 1.1+ MB
None

In [17]:
#Find the duplicate values
duplicate_rows = df.duplicated()
#Printing the no of duplicate rows
print("Number of duplicate rows:", duplicate_rows.sum())

Number of duplicate rows: 0

In [1]:
#import pandas
import pandas as pd
#read the data from the csv file
data = pd.read_csv('C:\\Users\\sharf\\OneDrive - Srinivasa Ramanujan Institute Of Technology\\Desktop\\Project\\healthcare_dataset.csv')
#Before removing checking no of row and col
print("Before removing checking no of row and col")
print(data.shape)
#Remove duplicate values
data.drop_duplicates(inplace=True)
#After removing checking no of row and col
print("After removing checking no of row and col")
print(data.shape)
data.dropna(inplace=True)
print("After removing Nan values no of row and col")
print(data.shape)
#Save the files
data.to_csv('cleaned_data.csv', index=False)
print("Data Saved ")

Before removing checking no of row and col
(10000, 15)
After removing checking no of row and col
(10000, 15)
After removing Nan values no of row and col
(10000, 15)
Data Saved